.message {
  margin-top: 100px;
  font-size: 50px;
  color: #0b00ff;
  background: radial-gradient(
    rgba(242, 255, 1, 0.807) 10%,
    rgba(255, 0, 0, 0.553) 100%
  );
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
