.button {
  width: 150px;
  height: 50px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background: radial-gradient(
    circle,
    rgba(255, 1, 25, 0.47524947478991597) 33%,
    rgba(1, 55, 255, 0.4584427521008403) 49%,
    rgba(111, 255, 1, 0.5872942927170868) 60%,
    rgba(255, 0, 2, 0.41082370448179273) 100%
  );
  color: #0b00ff;
}

.button:hover {
  background-color: rgb(255, 251, 0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
