.section {
  width: 500px;
  height: 300px;
  margin: 0 auto;

  background: linear-gradient(
    13deg,
    rgba(0, 119, 255, 0.728) 0%,
    rgba(0, 119, 255, 0.593) 20%,
    rgba(238, 246, 0, 1) 80%
  );
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: #0b00ff;
}
